.productImageCarousel {
    height: 50vh;
    background-position: center center;
    background-size: cover;
    border-radius: 250px 250px 70px 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10%;
    margin-bottom: var(--spacing-3);
}

.carouselArrows {
    display: none;
}

.carouselIndicators {
    display: flex;
    gap: 1rem;
}

.carouselIndicator {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 1px var(--white) solid;
}

.filledIndicator {
    background-color: var(--white-opacity);
}

.productInfo {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    margin-bottom: var(--spacing-3);
}

.buttons {
    display: flex;
    gap: var(--spacing-2);
}

.size p {
    margin-bottom: var(--spacing-2);
}

.divider {
    width: 100%;
    border-bottom: 1px var(--black) solid;
}

/* Mobile tweaks */
@media screen and (min-width: 500px) {
}

/* Tablet */
@media screen and (min-width: 768px) {
    .productPageContent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-5);
    }

    .productImageCarousel {
        height: 60vh;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .productPageContent {
        grid-template-columns: 1.5fr 1fr;
        gap: 100px;
    }
}

/* Desktop - wider screen */
@media screen and (min-width: 1500px) {
}