.button a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Michroma", sans-serif;
    color: var(--black);
    width: unset;
    padding: 16px 30px;
    gap: 7px;
    border-radius: 50px;
    border: 1px var(--black) solid;
    cursor: pointer;
    user-select: none;
}

.isCircle a {
    padding: 16px 16px;
    border-radius: 100%;
}

.button {
    display: flex;
    align-items: center;
}

.button span {
    color: var(--black);
}

.primaryColour {
    background-color: var(--fluro-yellow);
}

.defaultColour {
    background-color: unset;
}

.white span, .button .white {
    color: var(--white);
}

.button .white {
    border: 1px var(--white) solid;
    background-color: var(--black-opacity);
}

.fillsSpace {
    flex-grow: 1;
}

.fillsSpace a {
    flex-grow: 1;
}