/* Mobile */

.catalogueItem h4 {
    font-size: 0.8rem;
    margin-bottom: var(--spacing-1);
}

.catalogueItem {
    margin-bottom: 10px;
    cursor: pointer;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

.productImage {
    aspect-ratio: 2 / 3;
    margin-bottom: 15px;
    border-radius: 50px 50px 15px 15px;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.saveButton {
    background-color: var(--black-opacity);
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 23px;
    margin-top: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    border-radius: 100%;
}

.saveButton span {
    color: var(--white);
}

.catalogueAddToCartOverlay {
    /* background-color: var(--black-opacity-2); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    justify-content: flex-end;
    display: none;
}

.catalogueItem:hover .catalogueAddToCartOverlay {
    display: flex;
}   

/* Mobile tweaks */
@media screen and (min-width: 500px) {

}

/* Tablet */
@media screen and (min-width: 768px) {
    .productImage {
        aspect-ratio: 4 / 5;
    }

    .itemInfo {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1rem;
    }

    .itemInfo .price {
        text-align: end;
    }

    .catalogueAddToCartOverlay {
        padding-bottom: 2rem;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
}

/* Desktop - wider screen */
@media screen and (min-width: 1500px) {
}