.cartGridContainer {
    padding: 20px;
}

.cartGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
}

.cartPage h1 {
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.totalBox {
    background-color: var(--purple-light);
    padding: 2.5rem;
    border-radius: 30px 30px 0 0;
}

.totalBoxContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.totalGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.totalGrid h4 {
    font-size: 14px;
}

.totalGrid h2 {
    font-size: 18px;
}

.totalGrid div {
    display: flex;
    align-items: center;
}

.totalGrid .price {
    justify-content: flex-end;
}

.totalBox p {
    text-align: center;
}


/* Tablet */
@media screen and (min-width: 768px) {
    .cartGridContainer {
        padding: 5rem 10vw 5rem 10vw;
    }

    .totalBox {
        padding: 5rem 10vw 5rem 10vw;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .cartPage {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 4rem;
        padding: 5rem 10vw 5rem 10vw;
    }

    .totalBox {
        padding: 0;
        border-radius: 20px;
        background-color: unset;
    }

    .totalBoxContainer {
        background-color: var(--purple-light);
        padding: 50px;
        border-radius: 20px;
    }

    .cartGridContainer {
        padding: 5rem 10vw 5rem 10vw;
        padding: 0;
    }

    .cartPage h1 {
        margin-top: 0;
    }
}