.navAndHero {
    background-color: var(--purple-light);
    border-radius: 0 0 150px 150px;
}

.hero {
    padding: var(--spacing-4);
    padding-bottom: 6rem;
}

.imageCollage {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr; 
    grid-template-rows: 2fr 3fr; 
    gap: var(--spacing-2);
    height: 40vh;
    margin-bottom: var(--spacing-3);
}

.imageCollage div:first-child {
    grid-row: span 2;
}

.imageContainer {
    position: relative;
    overflow: hidden;
    border-radius: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageCollage .img {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 0;
    
}

.heroText h1 {
    font-size: 2rem;
}

.heroText {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
}

.titleText {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.titleText h1:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

.imageCollageContainer {
    position: relative;
}

.circleSticker {
    display: flex;
    position: absolute;
    background-color: var(--fluro-yellow);
    top: -2rem;
    left: -2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    border: 1px var(--black) solid;
    z-index: 100;
}

.circleTextSvg {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: relative;
}

.circleSticker span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotate {
    to { 
        transform: rotate(360deg);
    }
}

.rotateForever {
    animation: rotate 10s linear infinite;
}

.catalogue {
    padding: 20px;
}

.catalogue h3 {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: var(--spacing-4);
    margin-top: calc(var(--spacing-4) - 10px);
}

.categoryGridContainer {
    display: flex;  
    justify-content: center;
}

.categoryGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-color: red; */
    width: 90%;
    gap: 1.5rem;
}

.categoryItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.categoryItem p {
    display: flex;
    justify-content: center;
    text-align: center;
}

.categoryImgContainer {
    background-color: blue;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    overflow: hidden;
    /* height: 15rem; */
}

.categoryImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.categories {
    padding-bottom:  0rem;
}

.categoriesAndCatalogue {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Mobile tweaks */
@media screen and (min-width: 500px) {
    .hero {
        padding: var(--spacing-4) 20vw;
        padding-bottom: 5rem;
    }

    .heroText h1 {
        font-size: 2.2rem;
    }

    .categoryGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* background-color: red; */
        width: 90%;
        gap: 3rem;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        gap: 10vw;
        padding: var(--spacing-4) 10vw;
    }

    .imageCollageContainer {
        width: 50%;
    }

    .heroContent {
        display: flex;  
    }

    .imageCollage {
        margin-bottom: 0;
        height: 35vh;
    }

    .heroContent {
        display: flex;
        align-items: center;
    }

    .catalogue {
        padding: 2rem 10vw;
    }

    .catalogue h3 {
        /* font-size: 1.4rem; */
        margin-bottom: 3rem;
        margin-top: 0;
    }

    .catalogueGrid {
        gap: 25px;
    }

    
    .categoryGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
        gap: 3rem;
    }

    
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .hero {
        gap: 7vw;
        padding: 5rem 10vw 8rem 10vw;
    }

    .heroText h1 {
        font-size: 2.6rem;
    }

    .imageCollage {
        gap: var(--spacing-4);
        height: 45vh;
    }

    .imageCollageContainer {
        width: 70%;
    }

    .catalogue {
        padding: 2rem 10vw 2rem 10vw;
    }

    .catalogue h3 {
        font-size: 1.4rem;
    }

    .categoryGridContainer {
        display: flex;  
        justify-content: center;
    }
    
    .categoryGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 60%;
        gap: 3rem;
    }
}

/* Desktop - wider screen */
@media screen and (min-width: 1500px) {
    .hero {
        /* padding: 5rem 20vw 8rem 20vw; */
        padding: 5rem 20vw 8rem 20vw;
    }

    .categoryGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 45%;
        gap: 4rem;
    }
}