.navAndHero {
    background-color: var(--purple-light);
    border-radius: 0 0 150px 150px;
}

.hero {
    padding: var(--spacing-4);
    padding-bottom: 6rem;
}

.imageCollage {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr; 
    grid-template-rows: 2fr 3fr; 
    gap: var(--spacing-2);
    height: 40vh;
    margin-bottom: var(--spacing-3);
}

.imageCollage .img:first-child {
    background-color: blue;
    grid-row: span 2;
}

.imageCollage .img {
    display: flex;
    background-size: cover;
    background-position: center center;
    border-radius: 130px;
}

.heroText h1 {
    font-size: 2rem;
}

.heroText {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
}

.titleText {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.titleText h1:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

.imageCollageContainer {
    position: relative;
}

.circleSticker {
    display: flex;
    position: absolute;
    background-color: var(--fluro-yellow);
    top: -2rem;
    left: -2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    border: 1px var(--black) solid;
}

.circleTextSvg {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: relative;
}

.circleSticker span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotate {
    to { 
        transform: rotate(360deg);
    }
}

.rotateForever {
    animation: rotate 10s linear infinite;
}

/* Mobile tweaks */
@media screen and (min-width: 500px) {
    .hero {
        padding: var(--spacing-4) 20vw;
        padding-bottom: 5rem;
    }

    .heroText h1 {
        font-size: 2.2rem;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        gap: 10vw;
        padding: var(--spacing-4) 10vw;
    }

    .imageCollageContainer {
        width: 50%;
    }

    .heroContent {
        display: flex;  
    }

    .imageCollage {
        margin-bottom: 0;
    }

    .heroContent {
        display: flex;
        align-items: center;
    }

    
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .hero {
        gap: 7vw;
        padding: 5rem 15vw 8rem 15vw;
    }

    .heroText h1 {
        font-size: 3.2rem;
    }

    .imageCollage {
        gap: var(--spacing-4);
    }

    .imageCollageContainer {
        width: 60%;
    }
}

/* Desktop - wider screen */
@media screen and (min-width: 1500px) {
    .hero {
        padding: 5rem 20vw 8rem 20vw;
    }
}