/* Mobile */
.searchBarBtn {
  cursor: pointer;
}

.searchBarContainer {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.searchBar {
  border: 1px var(--black) solid;
  border-radius: 50px;
  width: 100%;
  padding: 0.4rem 1.3rem;
  display: flex;
  align-items: center;
}

.searchBarIcon {
  font-size: 2rem;
}

.searchBar form {
  display: flex;
  width: 100%;
}

.searchBar input {
  width: 100%;
  /* display: none; */
}

.searchBtns {
  display: flex;
  gap: 0.4rem;
  padding-left: 0.4rem;
}

.searchBar {
  border: 1px var(--black) solid;
  border-radius: 50px;
  width: 100%;
  padding: 0.4rem 1.3rem;
  display: flex;
  align-items: center;
}

.searchBar input {
  width: 100%;
  display: unset;
}

.searchBarIcon {
  margin-top: 3px;
  font-size: 1.6rem;
}



.clearTextBtn {
  display: unset;       
}

/* Tablet */
@media screen and (min-width: 768px) {

}

/* Desktop */
@media screen and (min-width: 1200px) {
    
    

      
}
