
/* Mobile */

.header {
    padding: var(--spacing-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--purple-light);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.logo a {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
    cursor: pointer;
}

.logo h3 {
    display: none;
}

.icon {
    font-size: 2.5rem;
}

.iconSmall {
    font-size: 2rem;
}

.shoppingCartIcon {
    font-size: 1.8rem;
}

.menuBtns {
    display: flex;
    gap: var(--spacing-3);
}

/* remove list styling */

.menuItems ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.desktopMenuItems {
    display: none;
}

.desktopMenuItems li {
    font-size: 12px;
}

.cartSection {
    /* background-color: red; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartButton {
    position: relative;
}

.cartNumber {
    position: absolute;
    background-color: var(--fluro-yellow);
    display: flex;
    width: 1rem;
    height: 1rem;
    font-size: 0.7rem;
    padding: 0.8rem;
    top: -16px;
    right: -16px;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}



/* Tablet */
@media screen and (min-width: 768px) {
    .logo h3 {
        display: block;
    }

    .desktopMenuItems {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-2);
    }

    .menuItems {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-3);
    }

    .desktopMenuItems li {
        font-size: 13px;
    }

    
}

/* Desktop */
@media screen and (min-width: 1200px) {

    .desktopMenuItems {
        gap: var(--spacing-4);
    }

    .menuItems {
        gap: var(--spacing-5);
    }

    .desktopMenuItems li {
        font-size: 13px;
    }

    .menuBtns {
        width: 30%;
    }

    .shoppingCartIcon {
        font-size: 2rem;
    }
   
}

/* Desktop - wider screen */
@media screen and (min-width: 1500px) {
    .menuBtns {
        width: 20%;
    }
}
