.cartItem {
    /* background-color: blue; */
    width: 100%;

    margin-bottom: 1rem;
    display: flex;
    gap: 20px;
  }

  .productImg {
    width: 30%;
    height: inherit;
    background-position: center center;
    background-size: cover;
    border-radius: 20px;
}

.productInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1rem;
}

.qntyAndBtn {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .productInfo .info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

}

.productInfo .info h4 {
    font-size: 0.9rem;
}

.quantityAdjust {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-right: 2rem;
}

.quantityAdjust h2 {
  font-size: 16px;
}