* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Standard */
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  /* Add any additional styling as needed */
}

select {
  /* Reset all default styles */
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  
}

/* removing default a styling */
a:-webkit-any-link {
  text-decoration: none;
  color: unset;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

:root {
  --purple-dark: #b89ee3;
  --purple-light: #f1e8ff;
  --fluro-yellow: #e8ff57;
  --white: #fff9ff;
  --white-opacity: #fff9ff85;
  --black: #130719;
  --black-opacity: #13071979;
  --grey: #555458;
  --spacing-1: 5px;
  --spacing-2: 15px;
  --spacing-3: 30px;
  --spacing-4: 40px;
  --spacing-5: 60px;
}

h1,
h2,
h3,
h4,
li {
  font-family: "Michroma", sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: var(--grey);
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.pageContentContainer {
    padding: 20px;
}

.pageContentContainerWide {
  padding: 20px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .pageContentContainer {
      padding: var(--spacing-4) 10vw;
  }

  .pageContentContainerWide {
    padding: var(--spacing-4) 10vw;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .pageContentContainer {
    padding: 5rem 10vw 5rem 10vw;
  }

  .pageContentContainerWide {
    padding: 5rem 20vw 5rem 20vw;
  }
  
}